*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --primery-color: #fd562a;
    --secondary-color: rgba(255,255,255,.4);
}
#service-section{
    min-height: 748px;
    width: 100%;
    background: url('0e8e93f7-80c0-48f7-a3c5-8639f8ce80a7.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#service-section h2{
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
    position: relative;
}
#service-section h2::after{
    position: absolute;
    content: " ";
    top: 30%;
    left: -30px;
    height: 0px;
    width: 0px;
    border-top: 20px solid transparent;
    border-left: 20px solid var(--primery-color);
}
#service-section h2::before{
    position: absolute;
    content: " ";
    top: 30%;
    right: -30px;
    height: 0px;
    width: 0px;
    border-top: 20px solid transparent;
    border-right: 20px solid var(--primery-color);
}
#service-section #peragraph{
    width: 45%;
    font-size: 1rem;
    color: rgba(255,255,255,.7);
    text-align: center;
    line-height: 1.5rem;
    white-space: 1px;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    z-index: 9;
    margin-top: 20px;
}
.cards .card{
    height: 350px;
    width: 450px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 8%;
    background: rgb(65,62,105);
    position: relative;
    border-radius: 10px;
    margin: 0 10px;
}
.cards .card::before{
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: #fd562a;
    transition: .6s;
    transform: rotate(0deg);
    z-index: -1;
}
.cards .card:hover.card::before{
    transform: rotate(10deg);
}
.cards .card i{
    font-size: 2.5rem;
    color: var(--primery-color);
    margin: 40px;
    margin-bottom: 10px;
}
.cards .card h3{
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 10px;
}
.cards .card .content p{
    color: rgba(225, 225, 255, 0.5);
    font-size: 1.05rem;
    margin-bottom: 20px;
    font-weight: 500;
}
@media(max-width:1100px){
    #service-section h2{
        margin-top: 30px;
    }
    .cards{
        grid-template-columns: repeat(1,1fr);
    }
    #service-section #peragraph{
        width: 80%;
    }
}
@media(max-width:900px){
    .cards .card{
        height: 300px;
        width: 400px;
        margin: 20px 0;
    }
}
